In [70]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.colors import n_colors, hex_to_rgb
import plotly.io as pio
pio.renderers.default = "browser"
import os

In [10]:
os.getcwd()

'C:\\Users\\justi\\GitHub\\Compet-DSR-one\\notebooks'

In [35]:
features_train = pd.read_csv('../data/dengue_features_train.csv')
labels_train = pd.read_csv('../data/dengue_labels_train.csv')
features_test = pd.read_csv('../data/dengue_features_test.csv')
features_train.loc[:, "total_cases"] = labels_train.loc[:, "total_cases"]

In [36]:
features_train.set_index("week_start_date", inplace=True)

In [37]:
labels_train

     city  year  weekofyear  total_cases
0      sj  1990          18            4
1      sj  1990          19            5
2      sj  1990          20            4
3      sj  1990          21            3
4      sj  1990          22            6
...   ...   ...         ...          ...
1451   iq  2010          21            5
1452   iq  2010          22            8
1453   iq  2010          23            1
1454   iq  2010          24            1
1455   iq  2010          25            4

[1456 rows x 4 columns]

In [45]:
sj = features_train.loc[features_train.loc[:,"city"]=="sj"].drop(["city", "year", "weekofyear"], axis=1)
iq = features_train.loc[features_train.loc[:,"city"]=="iq"].drop(["city", "year", "weekofyear"], axis=1)
print(sj.shape, iq.shape)

(936, 21) (520, 21)

In [89]:
fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles = ["San Juan", "Iquitos"], vertical_spacing=0.02)
colors = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd',
          '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf', 
          '#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', 
          '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf', '#00cc99']



for i, c in enumerate(sj.columns):
    fig.add_trace(go.Scatter(x=sj.index, 
                             y=sj.loc[:,c],
                             mode='lines', # 'lines' or 'markers'
                             name=c,
                             line_color=colors[i],
                             legendgroup=f'group{i}',
                             showlegend=False,),
                  
                  row=1, col=1)

for i, c in enumerate(iq.columns):
    fig.add_trace(go.Scatter(x=iq.index, 
                             y=iq.loc[:,c],
                             mode='lines', # 'lines' or 'markers'
                             line_color=colors[i],
                             legendgroup=f'group{i}',
                             name=c),
                 row=2, col=1)
fig.show()

In [67]:
print(px.colors.sequential.Plasma)

['#0d0887', '#46039f', '#7201a8', '#9c179e', '#bd3786', '#d8576b', '#ed7953', '#fb9f3a', '#fdca26', '#f0f921']

In [75]:
["rgb"+str(i) for i in n_colors(hex_to_rgb('#0d0887'), hex_to_rgb('#f0f921'), 21)]

['rgb(13.0, 8.0, 135.0)',
 'rgb(24.35, 20.05, 129.9)',
 'rgb(35.7, 32.1, 124.8)',
 'rgb(47.05, 44.150000000000006, 119.7)',
 'rgb(58.4, 56.2, 114.6)',
 'rgb(69.75, 68.25, 109.5)',
 'rgb(81.1, 80.30000000000001, 104.4)',
 'rgb(92.45, 92.35000000000001, 99.30000000000001)',
 'rgb(103.8, 104.4, 94.2)',
 'rgb(115.14999999999999, 116.45, 89.1)',
 'rgb(126.5, 128.5, 84.0)',
 'rgb(137.85, 140.55, 78.9)',
 'rgb(149.2, 152.60000000000002, 73.80000000000001)',
 'rgb(160.54999999999998, 164.65, 68.7)',
 'rgb(171.9, 176.70000000000002, 63.60000000000001)',
 'rgb(183.25, 188.75, 58.5)',
 'rgb(194.6, 200.8, 53.400000000000006)',
 'rgb(205.95, 212.85000000000002, 48.30000000000001)',
 'rgb(217.29999999999998, 224.9, 43.2)',
 'rgb(228.65, 236.95000000000002, 38.10000000000001)',
 'rgb(240.0, 249.0, 33.0)']

In [88]:
import typing